# Ignore all directories
*/         

# track this files
!pythontestting
!clients

*.cfg

# standard gitigore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
pytest_cache/

# VS Code settings
.vscode/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm settings
.idea/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

